body{
margin:0;
font-family:Segoe UI;
background:#f7fff8;
color:#102a13;
}

header{
background:#1b5e20;
color:white;
text-align:center;
padding:25px;
box-shadow:0 0 15px black;
}

nav{
display:flex;
justify-content:center;
background:#2e7d32;
flex-wrap:wrap;
}

nav button{
background:none;
border:none;
color:white;
padding:15px 25px;
cursor:pointer;
font-size:16px;
transition:0.4s;
}

nav button:hover{
background:#ff9800;
color:black;
border-radius:20px;
box-shadow:0 0 15px orange;
}

.tab{
display:none;
padding:40px;
text-align:center;
animation:fade 0.8s;
}

.card{
display:inline-block;
background:white;
padding:20px;
margin:15px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.3);
transition:0.4s;
}

.card:hover{
transform:scale(1.1);
box-shadow:0 0 25px #ff9800;
}

img,video{
width:300px;
border-radius:15px;
margin:20px;
box-shadow:0 0 15px rgba(0,0,0,0.3);
}

@keyframes fade{
from{opacity:0; transform:translateY(30px);}
to{opacity:1; transform:translateY(0);}
}

.team-box{
background:white;
display:inline-block;
padding:20px;
margin:15px;
border-radius:15px;
box-shadow:0 0 15px rgba(0,0,0,0.3);
transition:0.4s;
width:250px;
}

.team-box:hover{
transform:scale(1.1);
box-shadow:0 0 25px #ff9800;
}
